.btn {
  padding: 0.75rem 2rem;
  border-radius: 0.375rem;
  cursor: pointer;
  color: #fff;
  width: min-content;
  text-transform: capitalize;
  background-image: var(--gradient-image);
  /* ... */
}

/* nav styles  */
.heading-text {
  color: #fff;
  font-family: Clash Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.linked {
  color: #d434fe;
}
.nav-text {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.CIRCLE {
  border-radius: 50%;
  border-color: var(--gradient-image);
  border-style: solid;
  border-width: 3px;
  padding: 5px;
  width: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-left: auto;
}
.CIRCLE rect {
  fill: none; /* No fill color for the shape */
  stroke: var(--gradient-image); /* Apply the gradient as the stroke */
  stroke-width: 10; /* Adjust the border width */
}
.BLOCK {
  display: block;
  width: 70%;
  background-color: var(--purple-color);
}
/* media for nav component */
@media (max-width: 640px) {
  .heading-text {
    color: #fff;
    font-family: Clash Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

/* end of nav styles  */

/* contact Styles */

.contact {
  background-image: url(./assets/Purple-Lens-Flare-1.png),
    url(./assets/Purple-Lens-Flare-2.png);
  background-position: 0 19%, 105% 10%;
  background-repeat: no-repeat, no-repeat;
}

@media (max-width: 640px) {
  .contact {
    background-image: url(./assets/Purple-Lens-Flare-1.png);
    background-position: 10% 120%;
    background-repeat: no-repeat;
  }
}
@media (min-width: 640px) {
  .contact-form {
    width: 40%;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}
/* end of contact styles */
