.btn-container {
  display: grid;
  place-items: center;
  border-radius: 4px;
  width: 100%;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.nav-text a {
  color: white;
  font-weight: 800;
}
.nav-text a:hover,
.nav-text a.active {
  animation: all 250ms ease-in-out;
  background-image: var(--gradient-image);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-animation: all 250ms ease-in-out;
}
.btn {
  padding: 0.75rem 2rem;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  width: max-content;
  text-transform: capitalize;
  background-image: var(--gradient-image);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.btn:hover {
  opacity: 0.7;
  animation: opacity 250ms ease-in;
  -webkit-animation: opacity 250ms ease-in-out;
}
.nav-text .btn:hover,
.nav-text .btn.active {
  /*width: 99%;
   */
  border: 2px solid;
  animation: all 250ms ease-in;
  border-image: var(--gradient-image);
  border-image-slice: 1;
  opacity: 1;
  color: #fff;
  border-image-source: var(--gradient-image);
  background-image: none;
  -webkit-animation: all 250ms ease-in;
}
.star {
  animation-name: blink;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  animation-delay: 50ms;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@-webkit-keyframes blink {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }

  50% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
  }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

@keyframes blink {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }

  50% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
  }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

/* nav styles  */
.heading-text {
  color: #fff;
  font-family: "Clash Display", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.linked {
  color: #d434fe;
}
.nav-text {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.RELATIVE {
  position: relative;
  padding: 30px 20px;
}
.RELATIVE svg,
.RELATIVE img {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  max-width: 100%; /* Ensure the image doesn't exceed the container's width */
  max-height: 100%;
}
.BLOCK {
  display: block;
  width: 70%;
  background-color: var(--purple-color);
}
/* media for nav component */
@media (max-width: 640px) {
  .heading-text {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

/* end of nav styles  */
/*start of hero styles */
.hero-man {
  background-image: url(./assets/man-wearing-smart-glasses-touching-virtual-screen\ 1.png);
}
p {
  font-family: "Montserrat", sans-serif;
}

/*end of  hero styles */
/* contact Styles */

.contact {
  position: relative;
  background-image: url(./assets/Purple-Lens-Flare-1.png),
    url(./assets/Purple-Lens-Flare-2.png);
  background-position: 0 19%, 110% 100%;
  background-repeat: no-repeat, no-repeat;
}
.err-label {
  display: none;
}
.invalid-input {
  border-color: red;
}
.invalid-input + .err-label {
  display: block;
  text-transform: lowercase;
}
.invalid-input:focus {
  border-color: red;
  outline: 1px solid red;
  outline-offset: 1px;
}
.contact-pink-star {
  position: absolute;
  top: 24%;
  left: 20%;
  animation-delay: 50ms;
}
.contact-purple-star {
  position: absolute;
  top: 70%;
  left: 48%;
  animation-delay: 700ms;
}
.contact-gray-star {
  position: absolute;
  top: 15%;
  left: 80%;
  animation-delay: 250ms;
}
.contact-white-star {
  position: absolute;
  top: 90%;
  left: 90%;
  animation-delay: 1000ms;
}
@media (max-width: 770px) {
  .contact {
    background-image: url(./assets/Purple-Lens-Flare-1.png);
    background-position: 10% 120%;
    background-repeat: no-repeat;
  }
  .contact-pink-star {
    position: absolute;
    top: 10%;
    left: 42%;
    animation-delay: 50ms;
  }
  .contact-purple-star {
    position: absolute;
    top: 90%;
    left: 8%;
    animation-delay: 700ms;
  }
  .contact-gray-star {
    position: absolute;
    top: 23%;
    left: 80%;
    animation-delay: 250ms;
  }
  .contact-white-star {
    position: absolute;
    top: 70%;
    left: 95%;
    animation-delay: 1000ms;
  }
}
@media (min-width: 770px) {
  .contact-form {
    width: 40%;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}
/* end of contact styles */
