.btn {
  background-image: var(--gradient-image);
  /* ... */
}

/* nav styles  */
.heading-text {
  color: #fff;
  font-family: Clash Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.linked {
  color: #d434fe;
}
.nav-text {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.CIRCLE {
  border-radius: 50%;
  border-color: var(--gradient-image);
  border-style: solid;
  border-width: 3px;
  padding: 5px;
  width: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-left: auto;
}
.CIRCLE rect {
  fill: none; /* No fill color for the shape */
  stroke: var(--gradient-image); /* Apply the gradient as the stroke */
  stroke-width: 10; /* Adjust the border width */
}
.BLOCK {
  display: block;
  width: 70%;
  background-color: var(--purple-color);
}

@media (max-width: 640px) {
  .heading-text {
    color: #fff;
    font-family: Clash Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .linked {
    color: #d434fe;
  }
}

/* end of nav styles  */
