@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple-color: #150e28;
  --purple-blue: #903aff;
  --pink: #d434fe;
  --light-purple: rgba(255, 96, 203, 0.9922093837535014);
  --gradient-image: linear-gradient(
    90deg,
    rgba(255, 96, 203, 0.9922093837535014) 3%,
    rgba(222, 96, 255, 1) 33%,
    rgba(124, 59, 209, 1) 84%
  );
}
.pink {
  color: var(--pink);
}
.light-purple {
  color: var(--light-purple);
  font-weight: 800;
}
.purple-blue {
  color: var(--purple-blue);
}
.purple-color {
  color: var(--purple-color);
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #150e28;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Clash Display", sans-serif;
}
p {
  font-family: "Montserrat", sans-serif;
}
